{% extends "layout.html" %} {% block body %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="row top_tiles" style="margin: 10px 0;">
            <div class="col-md-3 col-sm-3 col-xs-6 tile">
                <span>Highest Amount of Gold</span>
                <h2 id="highestgold"></h2>
                <p id="goldtime"></p>
                <span class="sparkline_one" style="height: 160px;">
                      <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                  </span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 tile">
                <span>Highest Level</span>
                <h2 id="highestlevel"></h2>
                <p id="leveltime"></p>
                <span class="sparkline_one" style="height: 160px;">
                      <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                  </span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 tile">
                <span>Total Number of Plays</span>
                <h2 id="numPlays"></h2>
                <span class="sparkline_two" style="height: 160px;">
                      <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                  </span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 tile">
                <span>Highest Number of Lives</span>
                <h2 id="highestlives"></h2>
                <p id="livestime"></p>
                <span class="sparkline_one" style="height: 160px;">
                      <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                  </span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard_graph x_panel">
                    <div class="row x_title">
                        <div class="col-md-6">
                            <h3>VoogaSquad Penguin Tower Defense Stats</h3>
                        </div>
                        <div class="col-md-6">
                            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                            </div>
                        </div>
                    </div>
                    <div class="x_panel" id = "topScores"></div>
                    <div class="games">
                        <!-- all the graphs populated here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script type="text/javascript">
setLogoutClick();
getAllGameTimes();
getEndScores();
getNumGames();
getActualScores();
//dropDownInteractivity();
</script>
{% endblock %}
