<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kick Ass Coders Database</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Quicksand|Raleway|Ranga" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='plugins/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='plugins/materialize/css/materialize.min.css') }}">
</head>

<body>
    <!-- Header start-->
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Kick Ass Coders Database</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Search</a></li>
                    <!--<li><a href="#">Add</a></li>-->
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/materialize/js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/spin.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
